services:
  api:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      # Override ONLY what differs in Docker
      DATABASE_URL: postgres://postgres:postgres@db:5432/formforge?sslmode=disable
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: formforge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
